{% extends 'layouts/main.twig' %}
{% block title %}all products{% endblock %}
{% block content %}
    <nav class="arrivals_product center">
        <h2 class="arrivals_title">New Arrivals</h2>
        <nav class="readcrumbs_arrivals"><a href="index.html" class="link_arrivals">Home/</a> <a href="#"
                                                                                                 class="link_arrivals">Men/</a>
            <a href="#" class="link_arrivals">New Arrivals</a></nav>
    </nav>
    <div class="space_product"></div>
    <div class="clearfix"></div>
    <div class="main_content center">
        <div class="left_submenu ">
            <ul class="left_menu__product">
                <li class="left_menu_list">
                    <details class="left__details">
                        <summary class="left__summary">Category</summary>
                        <ul class="drop__left_menu">
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Accessories</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Bags</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Denim</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Hoodies &
                                    Sweatshirts</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Jackets & Coats</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Pants</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Polos</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Shirts</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Shoes</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Shorts</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Sweaters & Knits</a>
                            </li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">T-Shirts</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Tanks</a></li>
                        </ul>
                    </details>
                </li>
                <li class="left_menu_list list__top">
                    <details class="left__details">
                        <summary class="left__summary">BRAND</summary>
                        <ul class="drop__left_menu">
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Accessories</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Bags</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Denim</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Hoodies &
                                    Sweatshirts</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Jackets & Coats</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Pants</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Polos</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Shirts</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Shoes</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Shorts</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Sweaters & Knits</a>
                            </li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">T-Shirts</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Tanks</a></li>
                        </ul>
                    </details>
                </li>
                <li class="left_menu_list list__top">
                    <details class="left__details">
                        <summary class="left__summary">dESIGNER</summary>
                        <ul class="drop__left_menu">
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Accessories</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Bags</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Denim</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Hoodies &
                                    Sweatshirts</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Jackets & Coats</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Pants</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Polos</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Shirts</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Shoes</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Shorts</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Sweaters & Knits</a>
                            </li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">T-Shirts</a></li>
                            <li class="drop__left_list"><a href="#" class="drop__left_link">Tanks</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
        <div class="right_content_block ">
            <div class="checkboxes ">
                <div class="block1">
                    <p class="title_now">trending now</p>
                    <div class="link_now">
                        <div class="subblock1">
                            <div class="now_list"><a href="#" class="now_link paddi__link1">Bohemian</a></div>
                            <div class="now_list"><a href="#" class="now_link paddi__link2">Floral</a></div>
                            <div class="now_list"><a href="#" class="now_link now_link3 paddi__link3">Lace</a></div>
                        </div>
                        <div class="subblock1">
                            <div class="now_list"><a href="#" class="now_link paddi__link4">Floral</a></div>
                            <div class="now_list"><a href="#" class="now_link paddi__link5">Lace</a></div>
                            <div class="now_list"><a href="#" class="now_link now_link3 paddi__link6">Bohemian</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block2">
                    <p class="title_size">size</p>
                    <div class="checkboxes__boxes">
                        <div class="subblock1 block_up">
                            <div class="check_position up_posit">
                                <input type="checkbox" id="checkbox1" name="size">
                                <label for="checkbox1" class="label1">xxs</label>
                            </div>
                            <div class="check_position up_posit">
                                <input type="checkbox" id="checkbox2" name="size">
                                <label for="checkbox2" class="label1">xs</label>
                            </div>
                            <div class="check_position up_posit">
                                <input type="checkbox" id="checkbox3" name="size">
                                <label for="checkbox3" class="label1">s</label>
                            </div>
                            <div class="check_position up_posit">
                                <input type="checkbox" id="checkbox4" name="size">
                                <label for="checkbox4" class="label1">m</label>
                            </div>
                        </div>
                        <div class="subblock1">
                            <div class="check_position l-position up_posit">
                                <input type="checkbox" id="checkbox5" name="size">
                                <label for="checkbox5" class="label1">l</label>
                            </div>
                            <div class="check_position up_posit">
                                <input type="checkbox" id="checkbox6" name="size">
                                <label for="checkbox6" class="label1">xl</label>
                            </div>
                            <div class="check_position up_posit">
                                <input type="checkbox" id="checkbox7" name="size">
                                <label for="checkbox7" class="label1">xxl</label>
                            </div>
                            <div class="check_position up_posit">
                                <input type="checkbox" id="checkbox8" name="size">
                                <label for="checkbox8" class="label8"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block3">
                    <p class="title_size">price</p>
                    <input type="range" id="range" value="10" step="0.1">
                    <div class="dollars">
                        <p class="dollar">$52</p>
                        <p class="dollar">$4400</p>
                    </div>
                </div>
            </div>
            <div class="sortby_product">
                <div class="sortby__box">
                    <div class="forms__box">
                        <form action="#" class="sort">
                            <div class="sort__by">Sort By</div>
                            <details class="sort__name details_name">
                                <summary class="sort_name_summary sort_div_summary">Name</summary>
                                <ul class="sort_name_ul">
                                    <li class="name_ul_list"><a href="" class="name_ul_link">Price</a></li>
                                    <li class="name_ul_list"><a href="" class="name_ul_link">New</a></li>
                                    <li class="name_ul_list"><a href="" class="name_ul_link">Most Wanted</a></li>
                                    <li class="name_ul_list"><a href="" class="name_ul_link">Color</a></li>
                                </ul>
                            </details>
                        </form>
                        <form action="#" class="sort">
                            <div class="show__by">Show</div>
                            <details class="sort__name  details_name">
                                <summary class="sort_09_summary sort_div_summary">09</summary>
                                <ul class="sort_name_ul name_ul_width">
                                    <li class="name_ul_list"><a href="#" class="name_ul_link">12</a></li>
                                    <li class="name_ul_list"><a href="#" class="name_ul_link">10</a></li>
                                    <li class="name_ul_list"><a href="#" class="name_ul_link">5</a></li>
                                </ul>
                            </details>
                        </form>
                    </div>
                </div>
            </div>
            <div class="products_sort ">
                {% for good in goods %}
                    <div class="featured_link">
                        <div class="block__featured">
                            <div class="block__self1"><img src="{{ good.img }}" alt="photo___1"
                                                           class="photo___1 featured__photo">
                                <a href="single_page.html" class="cart__hover"> <img src="img/cart_hover.svg"
                                                                                     alt="cart_hover_img"
                                                                                     class="cart_hover_img">
                                    <p class="hover_text">Add to Cart</p>
                                </a>
                            </div>
                            <p class="featured_text">{{ good.name }}</p>
                            <div class="twig_pos">
                                <p class="featured_text2">${{ good.price }}</p>
                                <a href="/good/one/?id={{ good.id }}">info</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h3 style="color: red">Список пуст</h3>
                {% endfor %}






            </div>




        </div>
    </div>


    <div class="clearfix"></div>
    <div class="black_product center">
        <div class="about_servis"><img src="img/forma_car.png" alt="product_img_car" class="product_img_car">
            <p class="product_text1">Free Delivery</p>
            <p class="product_text2">Worldwide delivery on&nbsp;all. Authorit tively morph next-generation innov
                tion with
                extensive models.</p>
        </div>
        <div class="about_servis"><img src="img/forma_sale.png" alt="product_img_sale" class="product_img_sale">
            <p class="product_text1">Sales & discounts</p>
            <p class="product_text2">Worldwide delivery on&nbsp;all. Authorit tively morph next-generation innov
                tion with
                extensive models.</p>
        </div>
        <div class="about_servis"><img src="img/forma_king.png" alt="product_img_king" class="product_img_king">
            <p class="product_text1">Quality assurance</p>
            <p class="product_text2">Worldwide delivery on&nbsp;all. Authorit tively morph next-generation innov
                tion with
                extensive models.</p>
        </div>
    </div>



{% endblock %}